<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="two-thirds column form">
    <form id="commentForm" method="post" name="commentForm" th:action="@{/registration/owner}"
          th:object="${ownerDto}">
        <div>
            <p class="center white">ЛОГИН*</p> <input th:field="*{login}" th:placeholder="${ownerDto.login}"
                                                      type="text"/>
            <p class="center white" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <p th:errorclass="error" th:errors="*{login}" th:if="${#fields.hasErrors('login')}"/>
        </div>
        <br>
        <div>
            <p class="center white">ПАРОЛЬ*</p> <input th:field="*{password}" th:placeholder="${ownerDto.password}"
                                                       type="password"/>
            <p th:errorclass="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"/>
        </div>
        <br>
        <div>
            <p class="center white">ИМЯ*</p> <input th:field="*{name}" th:placeholder="${ownerDto.name}"
                                                    type="text"/>
            <p th:errorclass="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"/>
        </div>
        <br>
        <div>
            <p class="center white">ФАМИЛИЯ*</p> <input th:field="*{surname}" th:placeholder="${ownerDto.surname}"
                                                        type="text"/>
            <p th:errorclass="error" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}"/>
        </div>
        <br>
        <div>
            <p class="center white">E-MAIL*</p> <input th:field="*{mail}" th:placeholder="${ownerDto.mail}"
                                                       type="text"/>
            <p th:errorclass="error" th:errors="*{mail}" th:if="${#fields.hasErrors('mail')}"/>
        </div>
        <br>
        <div>
            <p class="center white">МОБИЛЬНЫЙ ТЕЛЕФОН*</p> <input th:field="*{phone}" th:placeholder="${ownerDto.phone}"
                                                                  type="text"/>
            <p th:errorclass="error" th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"/>
        </div>
        <br>
        <button class="btn">Send</button>
        <p class="white">ОБЯЗАТЕЛЬНЫЕ ПОЛЯ *</p>
    </form>
</div>


</body>
</html>