<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ПЁСО ХОД найти выгульщика для собаки</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../assets/img/apple-icon.png" rel="apple-touch-icon">
    <link href="../assets/img/favicon.ico" rel="shortcut icon" type="../image/x-icon">
    <!-- Load Require CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="../assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link href="../assets/css/templatemo.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../assets/css/custom.css" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--    &lt;!&ndash; 1. Подключить CSS-файл Bootstrap 3 &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="css/bootstrap.min.css"/>-->
    <!--    &lt;!&ndash; 2. Подключить CSS-файл библиотеки Bootstrap 3 DateTimePicker &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>-->

    <!--    &lt;!&ndash; 3. Подключить библиотеку jQuery &ndash;&gt;-->
    <!--    <script src="js/jquery.min.js"></script>-->
    <!--    &lt;!&ndash; 4. Подключить библиотеку moment &ndash;&gt;-->
    <!--    <script src="js/moment-with-locales.min.js"></script>-->
    <!--    &lt;!&ndash; 5. Подключить js-файл фреймворка Bootstrap 3 &ndash;&gt;-->
    <!--    <script src="js/bootstrap.min.js"></script>-->
    <!--    &lt;!&ndash; 6. Подключить js-файл библиотеки Bootstrap 3 DateTimePicker &ndash;&gt;-->
    <!--    <script src="js/bootstrap-datetimepicker.min.js"></script>-->


</head>
<body>
<div th:insert="/component/header.html :: #header"></div>
<section class="container py-5">
    <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">Мы уже зарегистировали Вас, пришла очередь Вашей
        собачки</h1>
    <h2 class="col-12 col-xl-8 h4 text-left regular-400">Займет меньше 5 минут ...</h2>
    <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
        Расскажите нам по-подробнее о Вашем питомце.<br>
    </p>
    <div class="row pb-4">
        <div class="col-lg-4">
            <img alt="Card image" class="service card-img" src="../assets/img/services-01.jpg">
        </div>
        <div class="col-lg-8 ">
            <form class="contact-form row" method="post" role="form" th:action="@{/profile/owner/registration/dog}"
                  th:object="${dogDto}">

                <!--КЛИЧКА-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>КЛИЧКА ПИТОМЦА, ОБЯЗАТЕЛЬНОЕ ПОЛЕ</p>
                        <input class="form-control form-control-lg light-300"
                               th:field="*{name}"
                               th:placeholder="${dogDto.name}"
                               type="text"/>
                        <h5 th:if="${errorMessage}" th:text="${errorMessage}"></h5>
                        <h5 th:errorclass="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"/>
                    </div>
                </div>

                <!--ПОРОДА-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ПОРОДА</p>
                        <input class="form-control form-control-lg light-300" th:field="*{breed}"
                               th:placeholder="${dogDto.breed}"
                               type="text"/>
                    </div>
                </div>

                <!--ВОЗРАСТ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ВОЗРАСТ</p>
                        <input class="form-control form-control-lg light-300" th:field="*{age}"
                               th:placeholder="${dogDto.age}"
                               type="text"/>
                    </div>
                </div>

                <!--ПОЛ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ПОЛ</p>
                        <div th:each="gender : ${dogDto.gender}">
                            <input th:field="*{returnedGender}" type="radio" th:value="${gender.getKey()}" th:id="${gender.key}"
                                   th:checked="${gender}"/>
                            <label th:for="${gender.key}" th:text="${gender.key}"></label>
                        </div>
                    </div>
                </div>

                <!--ВЕС-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ВЕС</p>
                        <input class="form-control form-control-lg light-300" th:field="*{weight}"
                               th:placeholder="#{dogDto.weight}"
                               type="text"/>
                        <h5 th:if="${errorMessage}" th:text="${errorMessage}"></h5>
                        <h5 th:errorclass="error" th:errors="*{weight}" th:if="${#fields.hasErrors('weight')}"/>
                    </div>
                </div>

                <!--ДОКУМЕНТЫ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ДОКУМЕНТЫ</p>
                        <div th:each="item : ${dogDto.dogDocuments}">
                            <input type="checkbox"
                                   th:value="item.value"
                                   th:field="*{dogDocuments['__${item.key}__']}"
                                   th:id="${item.key}"
                                   th:checked="*{dogDocuments['__${item.key}__']}"/>
                            <label th:for="${item.key}"
                                   th:text="${item.key}"></label>
                        </div>
                    </div>
                </div>

                <!--КЛИНИКА-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ВЕТЕРИНАРНАЯ КЛИНИКА, К КОТОРОЙ ПРИВЯЗАН ВАШ ПИТОМЕЦ</p>
                        <input
                                class="form-control form-control-lg light-300" th:field="*{vet}"
                                th:placeholder="${dogDto.vet}"
                                type="text"/>
                    </div>
                </div>

                <!--БОЛЕЗНИ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ТРАВМЫ ИЛИ БОЛЕЗНИ ВАШЕГО ПИТОМЦА</p>
                        <input
                                class="form-control form-control-lg light-300" th:field="*{injury}"
                                th:placeholder="${dogDto.injury}"
                                type="text"/>
                    </div>
                </div>

                <!--ПОВОДОК-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ТЯНЕТ ЛИ ПИТОМЕЦ ЗА ПОВОДОК НА ПРОГУЛКЕ?</p>
                        <div th:each="pullingLeash : ${dogDto.pullingLeash}">
                            <input th:field="*{returnedPullingLeash}" type="radio" th:value="${pullingLeash.getKey()}" th:id="${pullingLeash.key}"
                                   th:checked="${pullingLeash}"/>
                            <label th:for="${pullingLeash.key}" th:text="${pullingLeash.key}"></label>
                        </div>
                    </div>
                </div>

                <!--ПОДБИРАЕТ ЛИ С ЗЕМЛИ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ПОДБИРАЕТ ЛИ ПИТОМЕЦ С ЗЕМЛИ ВО ВРЕМЯ ПРОГУЛКИ?</p>
                        <div th:each="pickUpFromGround : ${dogDto.pickUpFromGround}">
                            <input th:field="*{returnedPickUpFromGround}" type="radio" th:value="${pickUpFromGround.getKey()}" th:id="${pickUpFromGround.key}"
                                   th:checked="${pickUpFromGround}"/>
                            <label th:for="${pickUpFromGround.key}" th:text="${pickUpFromGround.key}"></label>
                        </div>
                    </div>
                </div>

                <!--ОТБИРАТЬ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ОТБИРАТЬ ЛИ ТО, ЧТО ПИТОМЕЦ ПОДОБРАЛ С ЗЕМЛИ ВО ВРЕМЯ ПРОГУЛКИ?</p>
                        <div th:each="pickItUp : ${dogDto.pickItUp}">
                            <input th:field="*{returnedPickItUp}" type="radio" th:value="${pickItUp.getKey()}" th:id="${pickItUp.key}"
                                   th:checked="${pickItUp}"/>
                            <label th:for="${pickItUp.key}" th:text="${pickItUp.key}"></label>
                        </div>
                    </div>
                </div>

                <!--ЧЕГО БОИТСЯ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ЧЕГО БОИТСЯ ВАШ ПИТОМЕЦ?</p>
                        <input
                                class="form-control form-control-lg light-300" th:field="*{fear}"
                                th:placeholder="${dogDto.fear}"
                                type="text"/>
                    </div>
                </div>

                <!--АГРЕССИЯ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>К КОМУ ИЛИ ЧЕМУ ПИТОМЕЦ ИСПЫТЫВАЕТ АГРЕССИЮ?</p>
                        <div th:each="item : ${dogDto.aggression}">
                            <input type="checkbox"
                                   th:value="item.value"
                                   th:field="*{aggression['__${item.key}__']}"
                                   th:id="${item.key}"
                                   th:checked="*{aggression['__${item.key}__']}"/>
                            <label th:for="${item.key}"
                                   th:text="${item.key}"></label>
                        </div>
                    </div>
                </div>

                <!--МОЖНО ЛИ ОТПУСКАТЬ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>МОЖНО ЛИ ОТПУСКАТЬ ПИТОМЦА БЕЗ ПОВОДКА НА СОБАЧЬЕЙ ПЛОЩАДКЕ?</p>
                        <div th:each="goWithoutLeash : ${dogDto.goWithoutLeash}">
                            <input th:field="*{returnedGoWithoutLeash}" type="radio" th:value="${goWithoutLeash.getKey()}" th:id="${goWithoutLeash.key}"
                                   th:checked="${goWithoutLeash}"/>
                            <label th:for="${goWithoutLeash.key}" th:text="${goWithoutLeash.key}"></label>
                        </div>
                    </div>
                </div>


                <!--КОНТАКТИРОВАТЬ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>МОЖНО ЛИ КОНТАКТИРОВАТЬ С ДРУГИМИ СОБАКАМИ?</p>
                        <div th:each="interactWithOtherDogs : ${dogDto.interactWithOtherDogs}">
                            <input th:field="*{returnedInteractWithOtherDogs}" type="radio" th:value="${interactWithOtherDogs.getKey()}" th:id="${interactWithOtherDogs.key}"
                                   th:checked="${interactWithOtherDogs}"/>
                            <label th:for="${interactWithOtherDogs.key}" th:text="${interactWithOtherDogs.key}"></label>
                        </div>
                    </div>
                </div>


                <!--МЫТЬ ЛАПЫ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>НУЖНО ЛИ МЫТЬ ЛАПКИ ПОСЛЕ ПРОГУЛКИ?</p>
                        <div th:each="washPaws : ${dogDto.washPaws}">
                            <input th:field="*{returnedWashPaws}" type="radio" th:value="${washPaws.getKey()}" th:id="${washPaws.key}"
                                   th:checked="${washPaws}"/>
                            <label th:for="${washPaws.key}" th:text="${washPaws.key}"></label>
                        </div>
                    </div>
                </div>


                <!--КОРМИТЬ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>НУЖНО ЛИ КОРМИТЬ И ПОИТЬ ПИТОМЦА ПОСЛЕ ПРОГУЛКИ? ЧЕМ? СКОЛЬКО?</p>
                        <textarea class="form-control light-300" id="feedAfterWalk" rows="8"
                                  th:field="*{feedAfterWalk}" th:placeholder="${dogDto.feedAfterWalk}"/>
                    </div>
                </div>


                <!--                <div class="col-12">-->
                <!--                    <div class="form-floating mb-4">-->
                <!--                        <p>ПРЕДПОЛАГАЕМАЯ ДАТА ПРОГУЛКИ, ФОРМАТ 10.10.2022</p>-->
                <!--                        <input-->
                <!--                                class="form-control form-control-lg light-300" th:field="*{walkDate}"-->
                <!--                                th:placeholder="${dogDto.walkDate}"-->
                <!--                                type="text"/>-->
                <!--                        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>-->
                <!--                        <p th:errorclass="error" th:errors="*{weight}" th:if="${#fields.hasErrors('weight')}"/>-->
                <!--                    </div>-->
                <!--                </div>-->


                <div class="col-12">
                    <p>ВЫБЕРИТЕ ДАТУ ПРОГУЛКИ, ОБЯЗАТЕЛЬНОЕ ПОЛЕ</p>
                    <div class="form-floating mb-4">
                        <label for="walkDate"></label>
                        <input type="date" class="form-check-label" th:field="${dogDto.walkDate}">
                        <h5 th:if="${dateValidationError}" th:text="${dateValidationError}"></h5>
                        <h5 th:errorclass="error" th:errors="*{walkDate}" th:if="${#fields.hasErrors('walkDate')}"/>
                    </div>
                </div>


                <div class="col-12">
                    <p>ВЫБЕРИТЕ ВРЕМЯ ПРОГУЛКИ, ОБЯЗАТЕЛЬНОЕ ПОЛЕ</p>
                    <div class="form-floating mb-4">
                        <label for="walkBegin"></label>
                        <input type="time" class="form-control" th:field="${dogDto.walkBegin}" th:placeholder="${dogDto.walkBegin}">
                        <h5 th:if="${errorMessage}" th:text="${errorMessage}"></h5>
                        <h5 th:errorclass="error" th:errors="*{walkBegin}" th:if="${#fields.hasErrors('walkBegin')}"/>
                    </div>
                </div>


                <!--ДЛИТЕЛЬНОСТЬ ПРОГУЛКИ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ДЛИТЕЛЬНОСТЬ ПРОГУЛКИ, МИНИМУМ 20 МИНУТ, ОБЯЗАТЕЛЬНОЕ ПОЛЕ</p>
                        <input
                                class="form-control form-control-lg light-300" th:field="*{walkingPeriod}"
                                th:placeholder="${dogDto.walkingPeriod}"
                                type="text"/>
                    </div>
                </div>

                <!--КАК ПОЗНАКОМИТСЯ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>КАК ВЫ ПЛНИРУЕТЕ ПОЗНАКОМИТЬСЯ С ВЫГУЛЬЩИКОМ?</p>
                        <div th:each="meetingToWalker : ${dogDto.meetingToWalker}">
                            <input th:field="*{returnedMeetingToWalker}" type="radio" th:value="${meetingToWalker.getKey()}" th:id="${meetingToWalker.key}"
                                   th:checked="${meetingToWalker}"/>
                            <label th:for="${meetingToWalker.key}" th:text="${meetingToWalker.key}"></label>
                        </div>
                    </div>
                </div>


                <!--КАК ПОПАСТЬ К ПИТОМЦУ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>КАК ПОПАСТЬ К ПИТОМЦУ?</p>
                        <div th:each="howGetKeys : ${dogDto.howGetKeys}">
                            <input th:field="*{returnedHowGetKeys}" type="radio" th:value="${howGetKeys.getKey()}" th:id="${howGetKeys.key}"
                                   th:checked="${howGetKeys}"/>
                            <label th:for="${howGetKeys.key}" th:text="${howGetKeys.key}"></label>
                        </div>
                    </div>
                </div>


                <!--ЧТО ЕЩЕ-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ЧТО НАМ ЕЩЕ НУЖНО ЗНАТЬ?</p>
                        <textarea class="form-control light-300" id="additionInfo" rows="8" th:field="*{additionInfo}"
                                  th:placeholder="${dogDto.additionInfo}"/>
                    </div>
                </div>

                <!--ГОРОД-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>ГОРОД, ОБЯЗАТЕЛЬНОЕ ПОЛЕ</p>
                        <select class="form-control form-control-lg light-300" th:field="*{city}"
                                th:placeholder="${dogDto.city}">
                            <option selected value="">ВЫБЕРИТЕ ИЗ СПИСКА</option>
                            <option th:each="c:${dogDto.cities}" th:text="${c.name}" th:value="${c.name}"></option>
                        </select>
                        <h5 th:errorclass="error" th:errors="*{city}" th:if="${#fields.hasErrors('city')}"/>
                    </div>
                </div>

                <!--МЕСТО-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>МЕСТО ПРОГУЛКИ, РАЙОН ГОРОДА, МЕТРО, ОБЯЗАТЕЛЬНОЕ ПОЛЕ</p>
                        <input
                                class="form-control form-control-lg light-300" th:field="*{location}"
                                th:placeholder="${dogDto.location}"
                                type="text"/>
                    </div>
                </div>

                <!--АДРЕС-->
                <div class="col-12">
                    <div class="form-floating mb-4">
                        <p>АДРЕС, ГДЕ БУДЕТ НАХОДИТСЯ СОБАКА</p>
                        <input
                                class="form-control form-control-lg light-300" th:field="*{address}"
                                th:placeholder="${dogDto.address}"
                                type="text"/>
                    </div>
                </div>


                <div class="col-md-12 col-12 m-auto text-end">
                    <button class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300"
                            type="submit">
                        Отправить
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:insert="/component/footer.html :: #footer"></div>
<div th:insert="/component/scripts.html :: #footer-scripts"></div>


<script>
    $(function () {
        // идентификатор элемента (например: #datetimepicker1), для которого необходимо инициализировать виджет Bootstrap DateTimePicker
        $('#datetimepicker1').datetimepicker();
    });
</script>
</body>
</html>