<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="two-thirds column form">
    <form th:action="@{/registration/owner}" id="commentForm" method="post" name="commentForm"
          th:object="${ownerDto}">
        <div>
            <p class="center white">ЛОГИН*</p> <input type="text" th:field="*{login}"
                                                      th:placeholder="${ownerDto.login}"/>
            <p class="center white" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <p th:if="${#fields.hasErrors('login')}" th:errorclass="error" th:errors="*{login}"/>
        </div><br>
        <div>
            <p class="center white">ПАРОЛЬ*</p> <input type="password" th:field="*{password}"
                                                       th:placeholder="${ownerDto.password}"/>
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"/>
        </div><br>
        <div>
            <p class="center white">ИМЯ*</p> <input type="text" th:field="*{name}"
                                                    th:placeholder="${ownerDto.name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"/>
        </div><br>
        <div>
            <p class="center white">ФАМИЛИЯ*</p> <input type="text" th:field="*{surname}"
                                                        th:placeholder="${ownerDto.surname}"/>
            <p th:if="${#fields.hasErrors('surname')}" th:errorclass="error" th:errors="*{surname}"/>
        </div><br>
        <div>
            <p class="center white">E-MAIL*</p> <input type="text" th:field="*{mail}"
                                                       th:placeholder="${ownerDto.mail}"/>
            <p th:if="${#fields.hasErrors('mail')}" th:errorclass="error" th:errors="*{mail}"/>
        </div><br>
        <div>
            <p class="center white">МОБИЛЬНЫЙ ТЕЛЕФОН*</p> <input type="text" th:field="*{phone}"
                                                                  th:placeholder="${ownerDto.phone}"/>
            <p th:if="${#fields.hasErrors('phone')}" th:errorclass="error" th:errors="*{phone}"/>
        </div><br>
        <button class="btn">Send</button>
        <p class="white">ОБЯЗАТЕЛЬНЫЕ ПОЛЯ *</p>
    </form>
</div>


</body>
</html>